# Exam 2 (100 points total)

As described in the course's Honor Code policy, you may use your notes, and anything provided as part of this course.  You may use a computer to access this allowed information, to use tools to answer these questions (i.e., Jupyter, drawing software, and browser to access allowed information).  You may not collaborate with anyone else, and you may not access any websites not associated with the course, except for web-based drawing programs.

In [1]:
%load_ext sql

In [2]:
%sql postgresql://ricedb:3816@localhost:5433/postgres

u'Connected: ricedb@postgres'

## Problem 1 ER Implementation (25 points total)

Refer to the file posted in the Canvas Modules called "Assignment 4 ERD solution revised".  You will be defining schemas for the Music ERD.  COMP 430 students use the diagram on page 5, while COMP 533 students use the diagram on page 7.

### Part a ERD Schemas (20 points total)

Provide SQL table definitions for the ERD.  

* (10 points) Declare appropriate tables and attributes.
* (8 points) Declare all of the relevant primary key, foreign key, and not-null relationships.
* (2 points) Declare appropriate attribute types.  The ERD provides no explicit information about
  types, so you need to choose based upon the attribute names and context.

In [139]:
%%sql
DROP TABLE IF EXISTS Releases;
DROP TABLE IF EXISTS Produce;
DROP TABLE IF EXISTS Perform;
DROP TABLE IF EXISTS Member;
DROP TABLE IF EXISTS Peoplegroup;
DROP TABLE IF EXISTS Instrument;
DROP TABLE IF EXISTS Musician;
DROP TABLE IF EXISTS Genre;
DROP TABLE IF EXISTS SongRec;
DROP TABLE IF EXISTS SRBase;
DROP TABLE IF EXISTS SRComp;
DROP TABLE IF EXISTS Song;
DROP TABLE IF EXISTS SongBase;
DROP TABLE IF EXISTS SongBase;
DROP TABLE IF EXISTS Label;
DROP TABLE IF EXISTS Format;
DROP TABLE IF EXISTS Write;
DROP TABLE IF EXISTS LyricistOf;
DROP TABLE IF EXISTS RelatedTo;
DROP TABLE IF EXISTS GenreOf;

CREATE TABLE Peoplegroup(name VARCHAR(50), id CHAR(11) ,PRIMARY KEY (id));
CREATE TABLE Instrument(name VARCHAR(50) , PRIMARY KEY (name));
CREATE TABLE Musician(name VARCHAR(50) , id CHAR(11), PRIMARY KEY (id,name));
CREATE TABLE Genre(genre VARCHAR(50) , PRIMARY KEY (genre));
CREATE TABLE SongRec(name VARCHAR(50) , id CHAR(11), date time(11), PRIMARY KEY (id,name));
CREATE TABLE SRBase(length VARCHAR(50),SRBasename VARCHAR(50),foreign key(SRBasename) references SongRec(name));
CREATE TABLE SRComp(length VARCHAR(50),SRCompname VARCHAR(50),foreign key(SRCompname) references SongRec(name));
CREATE TABLE Song(name VARCHAR(50), id CHAR(11), PRIMARY KEY (id));
CREATE TABLE Label(label VARCHAR(50), PRIMARY KEY (label));
CREATE TABLE Format(format VARCHAR(50), PRIMARY KEY (format));
CREATE TABLE Member(name VARCHAR(50), id CHAR(11) ,
                    groupname VARCHAR(50),groupid CHAR(50),
                    PRIMARY KEY (id),foreign key(groupid) references Peoplegroup(id));
CREATE TABLE Perform(name VARCHAR(50), id CHAR(11) ,Instrument VARCHAR(50),
                    
                    PRIMARY KEY (id),foreign key(Instrument) references Instrument(name));
CREATE TABLE Produce(name VARCHAR(50), product VARCHAR(50));
CREATE TABLE Releases(date VARCHAR(50), label VARCHAR(50),format VARCHAR(50),SongRec VARCHAR(50)
PRIMARY KEY(date,label),foreign key(label) references Label(label),foreign key(format) references Format(format));
CREATE TABLE Write(name VARCHAR(50), product VARCHAR(50));
CREATE TABLE LyricistOf(name VARCHAR(50), product VARCHAR(50));
CREATE TABLE RelatedTo(name VARCHAR(50), product VARCHAR(50));
CREATE TABLE GenreOf(name VARCHAR(50), product VARCHAR(50));

Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
(psycopg2.ProgrammingError) there is no unique constraint matching given keys for referenced table "songrec"
 [SQL: 'CREATE TABLE SRBase(length VARCHAR(50),SRBasename VARCHAR(50),foreign key(SRBasename) references SongRec(name));']

### Part b ERD Justification (5 points)

There are two separate groups of super/subclassing in the ERD.  In Part a, you had to choose a representation for these.  Argue for why your choices are the most appropriate.

Implement both subclasses & superclass, because it is most accurate representation for this graph.

## Problem 2 BCNF (15 points total)

### Part a (10 points)

Prove that every relation of two attributes is in BCNF.

every relation of two attributes is a new attributes. it represent a fact about the key, the whole key, and nothing but the key. So every relation of two attributes is in BCNF.

### Part b (5 points)

In class, I claimed that a relation in BCNF is in 3NF.  Prove this claim based upon the definitions of each normal form.

relation in BCNF is a none key field, so the relation in BCNF meeets all the requirement of 3NF. Each None key field must represent a fact about the key, the whole key, and nothing but the key

## Problem 3 Functions (20 points)

You will write a PostgreSQL user-defined function in either PL/pgSQL or SQL.  You will also show how to call that function.

First, we need a table definition and some data.  This data will represent a hierarchy.  Specfically, this data is a piece of the mammalian taxonomy.  Note that `parent_id` is not a foreign key, since we use `NULL` to indicate a row as the root of te hierarchy.

In [13]:
%%sql

DROP TABLE IF EXISTS Hierarchy;

CREATE TABLE Hierarchy (
    id INT,
    parent_id INT,
    name VARCHAR(30),
    PRIMARY KEY (id)
);

INSERT INTO Hierarchy VALUES
    (0, NULL, 'Afrotheria'),
    (1, 0, 'Afroinsectiphilia'),
    (2, 1, 'Macroscelidea'),
    (3, 2, 'Macroscelididae'),
    (4, 1, 'Afrosoricida'),
    (5, 4, 'Tenrecidae'),
    (6, 4, 'Chrysochloridae'),
    (7, 1, 'Tubulidentata'),
    (8, 7, 'Orycteropodidae'),
    (9, 0, 'Paenungulata'),
    (10, 9, 'Proboscidea'),
    (11, 10, 'Elephantidae'),
    (12, 9, 'Hyracoidea'),
    (13, 12, 'Procaviidae'),
    (14, 9, 'Sirenia'),
    (15, 14, 'Dugongidae'),
    (16, 14, 'Trichechidae');

Done.
Done.
17 rows affected.

[]

In [14]:
%%sql
select *
from Hierarchy

17 rows affected.

[(0, None, u'Afrotheria'),
 (1, 0, u'Afroinsectiphilia'),
 (2, 1, u'Macroscelidea'),
 (3, 2, u'Macroscelididae'),
 (4, 1, u'Afrosoricida'),
 (5, 4, u'Tenrecidae'),
 (6, 4, u'Chrysochloridae'),
 (7, 1, u'Tubulidentata'),
 (8, 7, u'Orycteropodidae'),
 (9, 0, u'Paenungulata'),
 (10, 9, u'Proboscidea'),
 (11, 10, u'Elephantidae'),
 (12, 9, u'Hyracoidea'),
 (13, 12, u'Procaviidae'),
 (14, 9, u'Sirenia'),
 (15, 14, u'Dugongidae'),
 (16, 14, u'Trichechidae')]

Write a PostgreSQL function called `GetPath()` that takes a text string.  It returns a text string that represents the path from the given `name` to a root.  Refer to the follow example for the exact output.

Your function body must use either PL/pgSQL or SQL.

You can assume that text string is one of the `name` values in the table.  You can assume the table data forms an appropriate hierarchy with any root's `parent_id` being `NULL`.  You can assume the table data is not missing any data and does not contain any cycles.  You don't have to do any error-checking.

In [143]:
%%sql
CREATE OR REPLACE FUNCTION fun (n VARCHAR) RETURNS NUMERIC
AS $$
DECLARE
i NUMERIC;

BEGIN

RETURN 25;
END; $$ LANGUAGE plpgsql IMMUTABLE;

Done.

[]

In [151]:
%%sql
CREATE OR REPLACE FUNCTION GetPathsmall (n VARCHAR) RETURNS TABLE(ll int)
AS $$
DECLARE
BEGIN
RETURN QUERY SELECT id FROM Hierarchy WHERE Hierarchy.name = n;
END; $$ LANGUAGE plpgsql IMMUTABLE;



CREATE OR REPLACE FUNCTION bbb(i int)RETURNS VARCHAR
AS $$
DECLARE
BEGIN
IF i IS NULL THEN
RETURN " ";
ELSE
RETURN bbb(SELECT parent_id FROM Hierarchy WHERE Hierarchy.id = i)
END; $$ LANGUAGE plpgsql IMMUTABLE;



CREATE OR REPLACE FUNCTION GetPath12 (m VARCHAR) RETURNS VARCHAR
AS $$
DECLARE
BEGIN
RETURN bbb(GetPathsmall (n VARCHAR))
END; $$ LANGUAGE plpgsql IMMUTABLE;

Done.
(psycopg2.ProgrammingError) syntax error at or near "SELECT"
LINE 8: RETURN bbb(SELECT parent_id FROM Hierarchy WHERE Hierarchy.i...
                   ^
 [SQL: 'CREATE OR REPLACE FUNCTION bbb(i int)RETURNS VARCHAR\nAS $$\nDECLARE\nBEGIN\nIF i IS NULL THEN\nRETURN None;\nELSE\nRETURN bbb(SELECT parent_id FROM Hierarchy WHERE Hierarchy.id = i)\nEND; $$ LANGUAGE plpgsql IMMUTABLE;']

The following should return the string `'Sirenia -> Paenungulata -> Afrotheria'`.

In [ ]:
If I know hwo to store the result of "select" into a variable, it would be done.  iteration on the number 
until it is 0, and return the name of current animal. After all the interation, the result would be a
chain of animal names.

In [150]:
%%sql

SELECT GetPath12('Sirenia');

1 rows affected.

[(Decimal('25'),)]

SyntaxError: invalid syntax (<ipython-input-101-c1bffd1603c3>, line 1)

## Problem 4 Join Implementations (20 points total)

We are implementing a equi-join of tables R and S on attribute A.
In each of the following cases, is loop-join (or a variant thereof) or sort-merge (or a variant thereof) more efficient and why?

### Part a (5 points)

Tables R and S each have an index on A.

sort-merge  is fatster. using index is faster.

### Part b (5 points)

Table R has an index on A, while S is clustered on A, and S has many more rows than R.

loop-join is faster, because R is smaller, it is quick to scan R.

### Part c (5 points)

Table R has an index on A, while S is clustered on A, and R has many more rows than S.

sort-merge  is fatster. Since R has more rows, it is not useful to use index.

### Part d (5 points)

Tables R and S are each clustered on A.

Sort merge will be faster, because, sort takes time Rlog(),Slog(),merge takes time B(R) and B(S).

## Problem 5 Indices and Query Planning (20 points total)

First, you will need to define the following table.

In [110]:
%%sql

DROP TABLE IF EXISTS UKWeather;

CREATE TABLE UKWeather (
    date CHAR(8) NOT NULL,
    time CHAR(4) NOT NULL,
    region VARCHAR(30) NOT NULL,
    location VARCHAR(30) NOT NULL,
    conditions VARCHAR(20),
    temperature REAL,
    windspeed INT,
    winddirection CHAR(3)
);

Done.
Done.

[]

Next you need to load data.  A data file ukweather.txt was provided with the exam.  Put that file in some folder.  Note the path to that folder.

Run psql, logging in with database `postgres` and username `ricedb`.
**In psql**, run the following command.  You will need to substitute your actual path. 

`\copy UKWeather FROM '/MYPATH/ukweather.txt' WITH DELIMITER '|' NULL 'null'`

**That command will not work in Jupyter Notebook.  Use psql.**

If successful, psql should report `COPY 790041`.

### Part a (10 points)

We define the following three indices.

In [111]:
%%sql

DROP INDEX IF EXISTS idx_ukw_cond;
DROP INDEX IF EXISTS idx_ukw_temp;
DROP INDEX IF EXISTS idx_ukw_time;

CREATE INDEX idx_ukw_cond ON UKWeather (conditions);
CREATE INDEX idx_ukw_temp ON UKWeather (temperature);
CREATE INDEX idx_ukw_time ON UKWeather (time);

Done.
Done.
Done.
Done.
Done.
Done.

[]

Which of these three indices is used during this query?  Explain why.  (Simply saying that it results in the lowest time is not sufficient.)

In [112]:
%%sql

SELECT date, region, location
FROM UKWeather
WHERE temperature > 30 AND time > '1500' AND conditions = 'Sunny';

0 rows affected.

[]

In [ ]:
idx_ukw_temp is used, because few instance meet the requirement of temperature>30, about only 10 instance.
condition is in the middle, time is the loosest.

### Part b (10 points)

We define the following two indices.

In [8]:
%%sql

DROP INDEX IF EXISTS idx_ukw_temp_time_cond;
DROP INDEX IF EXISTS idx_ukw_temp_time_temp;

CREATE INDEX idx_ukw_temp_time_cond ON UKWeather (temperature, time, conditions);
CREATE INDEX idx_ukw_cond_time_temp ON UKWeather (conditions, time, temperature);

Done.
Done.

[]

Which of these two indices is used during this query?  Explain why.  (Simply saying that it results in the lowest time is not sufficient.)

In [ ]:
%%sql

SELECT date, region, location
FROM UKWeather
WHERE temperature > 30 AND time > '1500' AND conditions = 'Sunny';

idx_ukw_temp_time_cond is used, because temperature comes first.