# Function examples

In [1]:
%load_ext sql

/Users/gy12/anaconda/envs/py35/lib/python3.5/site-packages/IPython/config.py:13: ShimWarning: The `IPython.config` package has been deprecated since IPython 4.0. You should import from traitlets.config instead.
  "You should import from traitlets.config instead.", ShimWarning)
/Users/gy12/anaconda/envs/py35/lib/python3.5/site-packages/IPython/utils/traitlets.py:5: UserWarning: IPython.utils.traitlets has moved to a top-level traitlets package.
  warn("IPython.utils.traitlets has moved to a top-level traitlets package.")

In [2]:
%sql postgresql://ricedb:3816@localhost:5433/postgres

'Connected: ricedb@postgres'

In [3]:
%%sql
CREATE OR REPLACE FUNCTION HS4MeetRelay(mt_name VARCHAR(50))
RETURNS TABLE(event_id VARCHAR(50), team_members text, school VARCHAR(50), best_total_time NUMERIC, rank BIGINT) 
AS $$
    DECLARE
        hasMeet INT;
    BEGIN    
        SELECT COUNT(*) into hasMeet
        FROM Meet
        WHERE name = mt_name;

        IF hasMeet = 0 THEN
            RAISE EXCEPTION 'Bad Meet name input: there is not such a meet';
        END IF;
     
        RETURN QUERY SELECT RelayStats.event_id, RelayStats.team_members, o_name, RelayStats.best_total_time as best_time, RelayStats.rank 
        FROM RelayStats
        WHERE RelayStats.meet_name = mt_name
        ORDER BY RelayStats.event_id, RelayStats.rank;
    END; $$
LANGUAGE plpgsql;

Done.

[]

In [4]:
%%sql

CREATE FUNCTION InsertEmployee ( emp_first_name VARCHAR(50), emp_last_name VARCHAR (50), emp_salary INT,
emp_hire_date DATETIME) RETURNS VOID
AS $$
DECLARE matches INT;
BEGIN
matches := (SELECT COUNT(*)
FROM Employee
WHERE first_name = emp_first_name AND
last_name = emp_last_name);
IF matches = 0
INSERT INTO Employee VALUES
(emp_first_name, emp_last_name, emp_salary, emp_hire_date);
END IF; END $$
LANGUAGE plpgsql;

(psycopg2.ProgrammingError) type datetime does not exist
 [SQL: 'CREATE FUNCTION InsertEmployee ( emp_first_name VARCHAR(50), emp_last_name VARCHAR (50), emp_salary INT,\nemp_hire_date DATETIME) RETURNS VOID\nAS $$\nDECLARE matches INT;\nBEGIN\nmatches := (SELECT COUNT(*)\nFROM Employee\nWHERE first_name = emp_first_name AND\nlast_name = emp_last_name);\nIF matches = 0\nINSERT INTO Employee VALUES\n(emp_first_name, emp_last_name, emp_salary, emp_hire_date);\nEND IF; END $$\nLANGUAGE plpgsql;']

In [53]:
%%sql
CREATE OR REPLACE FUNCTION  creatable(emp_first_name VARCHAR(50)) RETURNS VOID
AS $$
BEGIN
DROP TABLE IF EXISTS Person;
CREATE TABLE Person (/*huhuh*/
    p_id CHAR(9)
    );
INSERT INTO Person VALUES
(emp_first_name);



END $$
LANGUAGE plpgsql;

Done.

[]

In [41]:
%%sql
DROP TABLE IF EXISTS Person;

Done.

[]

In [47]:
%%sql
Select *
From Person

(psycopg2.ProgrammingError) relation "person" does not exist
LINE 2: From Person
             ^
 [SQL: 'Select *\nFrom Person']

In [5]:

def update_stroke_of(cur, conn, raw):
    """event_id VARCHAR(50),leg INT, stroke VARCHAR(50)"""

    #  Check length.
    if len(raw) < 3:
        print("Invalid number of parameters.")
        return

    # Check format.
    event_id, leg, stroke = raw[0:3]
    if (not check_leg(leg)) or (not check_stroke(stroke)):
        return

    # Try to call server.
    try:
        cur.callproc("updateStrokeOf", (event_id, int(leg), stroke.lower()))
        conn.commit()
    except:
        print("Calling updateStrokeOf failed.")
        raise

In [51]:
def insertable(cur, conn):
    #cur = conn.cursor()
    cur.callproc('creatable',("S01213278",))
    
    return None

In [32]:
def load(aa,bb):
    W = px.load_workbook('Assignment6.xlsx')
    p = W.get_sheet_by_name(name = 'Assignment6_Data_COMP430')

    a=[]
    name=[]
    
    for row in p.iter_rows():
        
        for k in row:
            if "*" in str(k.internal_value):
                if a !=[]:
                    a=np.array(a)
                    a=a.reshape(-1,length)
                    cur = conn.cursor()
                    cur.callproc('creat',name,length)
                    for j in range (len(a)):
                        cur.callproc('insert',(name,a[j]))
                    print (a)
                #close table name
                name=str(k.internal_value)[1:]
                # creat a table has name
                print(name)
                a=[]
                l=0;
                break
            else:
                if l==0:
                    length=0;
                    for q in row:
                        if q.internal_value:
                            #print(q.internal_value)
                            length=length+1;
                            l=1
                          
                            
            if k.internal_value != None:
                a.append(k.internal_value) 
    a=np.array(a)
    a=a.reshape(-1,length)
    print (a)

In [7]:
def init_tables(cur, conn):

SyntaxError: unexpected EOF while parsing (<ipython-input-7-078d915f60bd>, line 2)

In [8]:
def add_test_data(cur, conn)

SyntaxError: invalid syntax (<ipython-input-8-86b18ec9eab2>, line 1)

In [52]:
import psycopg2
import csv
import openpyxl as px
import numpy as np


def main():
    # Ask for password.
    #password = input("Please enter your password: ")
    # Connect to an existing database
    try:
        conn = psycopg2.connect(dbname="postgres", user="ricedb", password="3816", host='localhost', port=5433)
        #conn = psycopg2.connect("dbname='postgres' user='ricedb' host='localhost' port='5433' password='3816'")
        print("Connected to database rice_db.")
    except:
        print("Connection failed.")
        return

    # Open a cursor to perform database operations
    cur = conn.cursor()
    insertable(cur, conn)
    # Initialize tables.
    #init_tables(cur, conn)

    #add_test_data(cur, conn)
    #cur.callproc('CubeVolume', (3,))
    #rows = cur.fetchall()

    print("Bye!")

    load('Assignment6.xlsx','Assignment6_Data_COMP430')

    
           
        
    

    # Make the changes to the database persistent
    #conn.commit()

    # Close communication with the database
    cur.close()
    conn.close()


if __name__ == "__main__":
    main()

Connected to database rice_db.

ProgrammingError: relation "employee" does not exist
LINE 1: INSERT INTO Employee VALUES
                    ^
QUERY:  INSERT INTO Employee VALUES
(emp_first_name)
CONTEXT:  PL/pgSQL function creatable(character varying) line 7 at SQL statement

Done.

[]